

/*----------- Index.html -----------*/
html,body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

#area1, #area2{
    padding-bottom: 150px;
}

/* Navigation bar */
.header_area .main-menu{
    padding: 20px 100px 50px 100px;
    font-family: 'Noto Sans JP', sans-serif;
}

.header_area .main-menu .navbar a{
    color: #32333E;
}
.header_area .main-menu .navbar a:hover{
    color: #55967e; 
}
  
.header_area .main-menu .navbar .navbar-nav .active{
    color: #55967e;
}

/* End Navigation bar */

/* Works Area */
.works-area .title-text{
    padding: 50px;
}

.works-area .container .works .works-img img{
    border-radius: 10px;
    width: 500px;
}
/* End Works */

/* About Area */
.about-area .title-text{
    padding: 50px;
}

.about-area .about-title .text{
    padding-bottom: 20px;
}

.about-area .about-img img{
    width: 300px;
}

/* End About Area */

/* Footer Area */
.footer-area{
    color: #32333E;
    padding-bottom: 30px;
}
/* End Footer */

/*----------- (Selfy).html -----------*/
section .img-area, .short-area{
    padding: 100px;
}

/* Short area */
.short-area{
    padding: 60px 150px 60px 150px;
}

.short-area .area-title  h1{
    margin-bottom: 45px;
}

.short-area .tool-area h5, i{
    margin-bottom: 20px;
}

/* Buttons */
.about-area .about-title .btn-outline{
    color: white;
    background: #55967e;
    border-radius: 8px;
    height: 45px;
    width: 100px;
    padding: 8px;
}

.about-area .about-title .btn-outline a{
    padding-right: 20px;
}







