@import url(./partials/_variables.css);
@import url(./partials/_globle.css);

/*----------- Index.html -----------*/
#area1, #area2{
    padding-bottom: 150px;
}

/* Navigation bar */
.header_area .main-menu{
    padding: 20px 100px 50px 100px;
    font-family: var(--noto);
}

.header_area .main-menu .navbar a{
    color: var(--base-color2);
}
.header_area .main-menu .navbar a:hover{
    color: var(--main-color); 
}
  
.header_area .main-menu .navbar .navbar-nav .active{
    color: var(--main-color);
}

/* End Navigation bar */

/* Works Area */
.works-area .title-text{
    padding: 50px;
}

.works-area .container .works .works-img img{
    border-radius: 10px;
    width: 500px;
}
/* End Works */

/* About Area */
.about-area .title-text{
    padding: 50px;
}

.about-area .about-title .text{
    padding-bottom: 20px;
}

.about-area .about-img img{
    width: 300px;
}

/* End About Area */

/* Footer Area */
.footer-area{
    color: var(--base-color2);
    padding-bottom: 30px;
}
/* End Footer */

/*----------- (Selfy).html -----------*/
section .img-area, .short-area{
    padding: 100px;
}

/* Short area */
.short-area{
    padding: 60px 150px 60px 150px;
}

.short-area .area-title  h1{
    margin-bottom: 45px;
}

.short-area .tool-area h5, i{
    margin-bottom: 20px;
}







